build/
debug/
dumps/*
compile_commands.json
.cache/clangd/index
models/
.env
mocks/action-data/*
mocks/nodes/*
sent.txt
received.txt
deep-search-result.txt
sent.txt
js/.codex
*.json
.codex
graph-copy.json
goals-copy.json

react/*

!react/
!react/src/
!react/public/
!react/ios/

!react/package.json
!react/package-lock.json
!react/capacitor.config.ts
!react/eslint.config.js
!react/vite.config.ts
!react/tsconfig.json
!react/tsconfig.app.json
!react/tsconfig.node.json
!react/index.html

react/node_modules/
react/dist/
